{% extends 'base.html' %}
{% block content %}

    <div class="page-content" style="min-height:1579px">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">Add Composer</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="/dashboard">Home</a>&nbsp;<i
                            class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">Add Composer</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card card-box">
                    <div class="card-head">
                        <header>Details </header>
                        <button id="panel-button" class="mdl-button mdl-js-button mdl-button--icon pull-right"
                            data-upgraded=",MaterialButton">
                            <i class="material-icons">more_vert</i>
                        </button>
                        <div class="mdl-menu__container is-upgraded">
                            <div class="mdl-menu__outline mdl-menu--bottom-right"></div>
                            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events"
                                data-mdl-for="panel-button" data-upgraded=",MaterialMenu,MaterialRipple">
                                <li class="mdl-menu__item mdl-js-ripple-effect" tabindex="-1"
                                    data-upgraded=",MaterialRipple"><i
                                        class="material-icons">assistant_photo</i>Action<span
                                        class="mdl-menu__item-ripple-container"><span class="mdl-ripple"></span></span>
                                </li>
                                <li class="mdl-menu__item mdl-js-ripple-effect" tabindex="-1"
                                    data-upgraded=",MaterialRipple"><i class="material-icons">print</i>Another
                                    action<span class="mdl-menu__item-ripple-container"><span
                                            class="mdl-ripple"></span></span></li>
                                <li class="mdl-menu__item mdl-js-ripple-effect" tabindex="-1"
                                    data-upgraded=",MaterialRipple"><i class="material-icons">favorite</i>Something else
                                    here<span class="mdl-menu__item-ripple-container"><span
                                            class="mdl-ripple"></span></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body" id="bar-parent">
                        <form action="/process/" method="post" id="form_sample_1" class="form-horizontal"
                            novalidate="novalidate" enctype="multipart/form-data">
                            <div class="form-group row" style="display: none;">
                                <div class="col-md-5">
                                    <input class="form-control" type="Number" id="id" value={{id}} name="id">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3">Receiver 
                                    </label>
                                <div class="col-md-5">
                                    <div class="form-check">
                                      <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="compType" id="single_receiver" value="single" >
                                        single
                                      </label>
                                    </div>
                                    <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="compType" id="multiple_receiver" value="multiple">
                                        Multiple
                                      </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row" style="display: none;">
                                <label class="control-label col-md-3">Excel Data
                                    <span class="required" aria-required="true"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <!-- <inppload Excel File></inppload> -->
                                    <input class="form-control" type="file" id="formFile" name="myfile">
                                </div>
                            </div>
                            
                            <div class="form-group row" style="display: none;">
                                <label class="control-label col-md-3">Mobile Number Column Name
                                    <span class="required" aria-required="true"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <input class="form-control" type="text" id="col_Num" name="col_Num">
                                </div>
                                <div class="col-md-2">
                                    <label style="color: #aaa;">The column Alphabet that contains Phone Number i.e. A,B,C </label>
                                </div>
                            </div>
                            <div class="form-group row" style="display: none;">
                                <label class="control-label col-md-3">Mobile Number
                                    <span class="required" aria-required="true"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <input class="form-control" type="tel" id="mobile" name="mobile">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3">Composer
                                    <span class="required" aria-required="true"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <textarea name="Description" id="text-area" placeholder="Add Composer"
                                        class="form-control-textarea" rows="5"></textarea>
                                </div>
                                <div class="col-md-2">
                                    <label style="color: #aaa;">Place the column alphabet in place of respective variable Example: my name is {A} and your name is {B}. </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3">API Provider
                                    <span class="required" aria-required="true"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <select name="TTSP" class="form-control input-height" id="api-provider">
                                        <option value="">Select...</option>
                                        <option value="Amazon">Amazon</option>
                                        <option value="Google">Google TTS</option>
                                        <option value="Python">Python TTS</option>
                                        <option value="Category 5">Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row" style="display: none;">
                                <label class="control-label col-md-3">language
                                    <span class="required" aria-required="true"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <select name="language" class="form-control input-height" id="language">
                                        <option value="">Select...</option>
                                        <option value='en'>English</option>
                                        <option value='hi'>Hindi</option>
                                        <option value='gu'>Gujarati</option>
                                        <option value='ta'>Tamil</option>
                                        <option value='te'>telugu</option>
                                        <option value='kn'>Kannad</option>
                                        <option value='ml'>Malayalam</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row" style="display: none;">
                                <label class="control-label col-md-3">Voice Type
                                    <span class="required" aria-required="true"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <select class="form-control input-height" name="gender" id="gender">
                                        <option value="">Select...</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row" style="display: none;">
                                <label class="control-label col-md-3">Speech rate
                                    <span class="required" aria-required="true"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <input type="number" class="form-control input-height" name="speech_rate" id="rate">
                                </div>
                            </div>

                            <div class="form-actions">
                                <div class="row">
                                    <div class="offset-md-3 col-md-9">
                                        <button id='prw' type="button" class="btn btn-info">Preview</button>
                                        <button type="submit" class="btn btn-danger">Process</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        let check;
        $('.form-check-label').on("change", function () {
            console.log($("#form_sample_1").children(".form-group")[2])
            var value = $(this).children('input').val();
            var excel = $("#form_sample_1").children(".form-group")[2];
            var colname = $("#form_sample_1").children(".form-group")[3];
            var mobnum = $("#form_sample_1").children(".form-group")[4];

            if (value == "single") {
                excel.style.display = "none";
                colname.style.display = "none";
                mobnum.style.display = "";
                check = "single";
            }
            else if (value == "multiple") {
                excel.style.display = "";
                colname.style.display = "";
                mobnum.style.display = "none";
                check = "multiple";
            }
        });

        $('#api-provider').on("change", function(){
            var value = $(this).val();
            var lang = $("#form_sample_1").children(".form-group")[7];
            var gender = $("#form_sample_1").children(".form-group")[8];
            var rate = $("#form_sample_1").children(".form-group")[9];
            
            if (value == "Google"){
                gender.style.display="none";
                rate.style.display="none";
                lang.style.display="";
            }
            else if (value == "Python"){
                lang.style.display="none";
                gender.style.display="";
                rate.style.display="";
            }
        });

        $('#prw').on("click", function () {
            var fileSelect = document.getElementById('formFile');
            var file = fileSelect.files[0];
            console.log(file);
            var data = new FormData();
            data.append("myfile", file);
            data.append("compType", check);
            data.append("Description", $('#text-area').val());
            data.append("mobile", $('#mobile').val());
            data.append("TTSP", $('#api-provider').val());
            data.append("language", $('#language').val());
            data.append("gender", $('#gender').val());
            data.append("id", $('#id').val());
            data.append("col_Num", $('#col_Num').val());
            data.append("speech_rate", $('#rate').val());

            $.ajax({
                type: 'POST',
                url: "/preview/",
                processData: false,
                contentType: false,
                mimeType: 'multipart/form-data',
                data: data,
                success: function (result) {
                    result = JSON.parse(result);
                    console.log(result);
                    // console.log(result.get('link'));
                    $('#bar-parent').children('.row').remove();
                    $('#bar-parent').append(`<div class='row'>  
                        <audio controls>
                            ${result['url']}
                            <source src="${result['url']}" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>`)
                },
            });
        });
    });
</script>
{% endblock %}